.ButtonsSection{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    gap: 20px;


    &__StartButton{
        all: unset;
        padding: 10px 30px;
        font-size: 12px;
        font-weight: 400;
        border-radius: 16px;
        box-shadow: 0 0 4px 0 var(--shadow);
        cursor: pointer;
        &:hover{
            background-color: var(--color-blue-level-2);
            color: #FFFFFF;
        }
    }
}