.FormLogIn{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
        font-size: 24px;
        font-weight: 400;
        color: var(--text);
        background-color: var(--background-table);
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 4px 0.5px #FFFFFF;
        gap: 15px;
        width: 350px;
    }

    &__ButtonLogin{
        margin-top: 20px;
    }

    &__ItemForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;
    }

    label{
        width: 100%;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
    }

    input{
        background-color: var(--background-table);
        border: none;
        width: 100%;
        height: 50px;
        padding: 5px 10px;
        border-radius: 10px;
        color: var(--text);
        outline: none;
    }

}