.FileUploader{
    background-color: var(--background-table);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px var(--shadow);
    gap: 10px;

    &__ButtonsSection{
        width: 100%;
        padding: 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;

        &__FeatureButtons{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }

    &__FeatureButton{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font-size: 12px;
        font-weight: 400;
        border-radius: 16px;
        box-shadow: 0 0 4px 0 var(--shadow);
        color: var(--text);
    }

    &__StartButton{
        padding: 10px 30px;
        font-size: 12px;
        font-weight: 400;
        border-radius: 16px;
        box-shadow: 0 0 4px 0 var(--shadow);
    }

    &__DefaultData{
        all: unset;
        background-color: var(--color-blue-level-2);
        color: #FFFFFF;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 400;
        &:hover{
            scale:1.02;
            background-color: var(--color-blue-level-3);
            box-shadow: 0 0 10px 1px var(--color-blue-level-2);
            transition-duration: 2s;
        }
    }
} 
