@import 'variables';

// Root CSS variables
:root {
  --background: #{$color-gray};
  --background-navbar:#{$color-white};
  --background-table:#{$color-white};
  --text: #{$foreground-light};
  --color-blue-level-2:#{$color-blue-level-2};
  --color-blue-level-3:#{$color-blue-level-3};
  --bg-navbar:#{$green-level-1};
  --green-level-1:#{$green-level-1};
  --green-level-2:#{$green-level-2};
  --green-level-3:#{$green-level-3};
  --gradient: #{$gradient-to-right-dark};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$color-black};
    --background-navbar:#{$color-black};
    --background-table:#{$color-rat};
    --text: #{$color-white};
    --bg-navbar:#{$green-level-1};
    --gradient: #{$gradient-to-right-dark};
  }
}

// Essential HTML and body styles
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

//img {
//  max-width: 100%;
//  height: auto;
//}

// Añade esto a tus estilos globales
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// El contenido principal debe tener flex-grow para empujar el footer
main {
    flex: 1;
}
