// Color variables
$color-blue-level-1: #001F3F;
$color-blue-level-2: #3A6D8C;
$color-blue-level-3: #6A9AB0;
$color-beige:#EAD8B1;
$color-red:#CC1818;
$color-black:#1C1C1C;
$color-rat:#373737;
$color-gray: #E6E6E6;
$color-white:#FFFFFF;

//iniciales
$green-level-1: #3E432E;
$green-level-2: #616F39;
$green-level-3: #A7D129;
$gradient-to-right-dark:linear-gradient(to right, #616F39, #A7D129);

// Background colors
$background-light: #ffffff;
$background-dark: #000000;

// Text colors
$foreground-light: #171717;
$foreground-dark: #ededed;

