// Color variables
$color-blue-level-1: #001F3F;
$color-blue-level-2: #3A6D8C;
$color-blue-level-3: #6A9AB0;
$color-beige:#EAD8B1;
$color-red:#CC1818;
$color-black:#1C1C1C;
$color-rat:rgba(55, 55, 55, 0.2);
$color-gray: #E6E6E6;
$color-white:#FFFFFF;


