.UploadFileInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
    
    input[type="file"]{
        display: none;
    }
    
    .custom-file-upload {
        background-color: var(--color-blue-level-2);
        color: #FFFFFF;
        display: inline-block;
        padding: 20px;
        cursor: pointer;
        font-size: 32px;
        font-weight: 500;
        border-radius: 10px;
        transition-duration: 500ms;
        transition-property: scale, background-color;
    }
    
    .custom-file-upload:hover {
        scale:1.02;
        background-color: var(--color-blue-level-3);
        box-shadow: 0 0 10px 1px var(--color-blue-level-2);
        transition-duration: 2s;
    }

    &__ButtonsSection{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 10px;

        &__DriveButton{
            background-color: var(--color-blue-level-2);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
            transition-duration: 500ms;
            transition-property: scale, background-color;
        
            &:hover{
                scale: 1.2;
                background-color: var(--color-blue-level-3);
                box-shadow: 0 0 10px 1px var(--color-blue-level-2);
                transition-duration: 2s;
            }
    
            &__Icon{
                width: 40px;
                height: 40px;
                color: #FFFFFF;
            }
        }
    }

    
}