.UploadFileInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;

    input{
        background-color: var(--bg-navbar);
    }
    input[type="file"]{
        display: none;
    }
    
    .custom-file-upload {
        border: 1px solid var(--green-level-1);
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: var(--green-level-1);
        color:  #FFF0D1;
        font-size: 15px;
        font-weight: 600;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px var(--green-level-2);
        transition-duration: 500ms;
        transition-property: scale, background-color, color;
    }
    
    .custom-file-upload:hover {
        scale:1.1;
        background-color: var(--green-level-2);
        color:  var(--green-level-3);
        transition-duration: 1s;
    }

    &__DriveButton{
        border: 1px solid var(--green-level-1);
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: var(--green-level-1);
        color:  #FFF0D1;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px var(--green-level-2);
        transition-duration: 500ms;
        transition-property: scale, background-color, color;
        &:hover{
            scale:1.2;
            background-color: var(--green-level-2);
            color:  var(--green-level-3);
            transition-duration: 1s;
        }
    }
}