.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

    &__Title{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }

    &__normativas {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        gap: 10px;
        margin-top: 20px;

        &__title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
            color: var(--text);
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            padding: 15px;
            background-color: var(--background-table);
            border-radius: 10px;
            box-shadow: 0 0 4px 0 var(--shadow);

            &__item {
                padding: 10px 15px;
                background-color: var(--background);
                border-radius: 5px;
                color: var(--text);
                font-size: 16px;
                box-shadow: 0 0 2px 0 var(--shadow);
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                &__input {
                    background: transparent;
                    border: none;
                    color: var(--text);
                    font-size: 16px;
                    width: 90%;
                    outline: none;
                    cursor: default;
                }
                
                &__button {
                    background: transparent;
                    border: none;
                    color: var(--text);
                    font-size: 16px;
                    cursor: pointer;
                    padding: 0 5px;
                    
                    &:hover {
                        color: var(--error);
                    }
                }
            }
        }
    }
    
}

.DropdownMenu{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 15px;
    padding: 20px;
    background-color: var(--background-table);
    border-radius: 10px;
    box-shadow: 0 0 4px 0 var(--shadow);

    &__Trigger{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        font-weight: 500;
        cursor: pointer;
    }
        
    &__Content{
        display: none;
        flex-direction: column;
        &.active{
            display: flex;
        }
    }

    &__ContentBlock{
        pointer-events: none;
        opacity: 0.5;
    }

    &__SelectsDrop{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;

        @media screen and (min-width: 769px) {
            flex-direction: row;
        }
    }

}
