.Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: 50%;
    }
}

.label {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
    color: var(--text);
}

.select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--shadow);
    background-color: var(--background);
    color: var(--text);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    outline-color: var(--color-blue-level-2);    
}
