.Navbar{
    display: flex;
    justify-content:space-between;
    padding: 0px 30px;
    box-shadow: 0px 0px 5px 3px black;
    height: 50px;
    color: var(--text);

    &__ImgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 40px;
        width: auto;
        object-fit: cover;
        object-position: center;
    }

    ul{
        display: flex;
        align-items: center;
        gap: 50px;
    }

    li{
        list-style: none;
    }

    &__LinksContainer{
        display: flex;
        gap: 50px;
    }

    &__Link{
        font-size: 12px;
        font-weight: 400;
        &:hover{
            color: var(--color-blue-level-2);
            font-weight: 600;
        }
    }

    &__ButtonsSection{
        display: flex;
        align-items: center;
        gap: 30px;

        &__Icon{
            color: var(--color-blue-level-2);
            width: 18px;
            height: 18px;
        }

        &__Access, &__Register{
            font-size: 12px;
            font-weight: 400;
            padding: 5px 10px;
            border-radius: 6px;
            color: var(--text);
            border: none;
        }

        &__Access{
            background-color: transparent;
            
            &:hover{
                background-color: black;
            }
        }

        &__Register{
            background-color: var(--color-blue-level-2);
            &:hover{
                background-color: var(--color-blue-level-3);
            }
        }
    }
}