.Navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 40px 30px;
    background-color: var(--background-navbar);
    box-shadow: 0px 4px 4px 0px var(--shadow-footer-header);
    color: var(--text);
    
    @media (min-width: 768px) {
        padding: 0px 30px;
    }
    
    &__ImgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    img {
        height: 40px;
        width: auto;
        object-fit: cover;
        object-position: center;
    }
    
    &__LeftSection {
        display: flex;
        gap: 50px;
    }
    
    ul {
        display: none;
        align-items: center;
        gap: 50px;
        
        @media (min-width: 768px) {
            display: flex;
        }
    }
    
    li {
        list-style: none;
    }
    
    &__Link {
        font-size: 12px;
        font-weight: 400;
        
        &:hover {
            color: var(--color-blue-level-2);
            font-weight: 600;
        }

        &.active {
            color: var(--color-blue-level-2);
            font-weight: 700;
        }
    }
    
    &__RightSection {
        display: none;
        align-items: center;
        justify-content: center;
        gap: 30px;
        
        @media (min-width: 768px) {
            display: flex;
        }
        
        &__Icon {
            width: 24px;
            height: 24px; 
            color: var(--color-blue-level-2);
            &:hover{
                scale: 1.1;
                transition-duration: 1s;
                color: var(--color-blue-level-3);
            }
        }
        
        &__Access, &__Register {
            font-size: 12px;
            font-weight: 400;
            padding: 5px 10px;
            border-radius: 6px;
            border: none;
        }
        
        &__Access {
            background-color: transparent;
            transition-duration: 300ms;
            transition-property: scale;
            color: var(--text);
            &:hover {
                scale:1.1;
                background-color: var(--background);
                box-shadow: 0 0 2px 1px var(--background);
                transition-duration: 1s;
            }
        }
        
        &__Register {
            background-color: var(--color-blue-level-2);
            transition-duration: 300ms;
            transition-property: scale;
            color: #FFFFFF;
            &:hover {
                scale:1.1;
                background-color: var(--color-blue-level-3);
                box-shadow: 0 0 2px 1px var(--color-blue-level-3);
                transition-duration: 1s;
            }
        }
    }
    
    /* Mobile menu */
    &__Menu {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        @media (min-width: 768px) {
            display: none;
        }
        
        &__Icon {
            width: 40px;
            height: 40px;
            color: var(--text);
        }
    }

    .ToggleMenu {
        position: absolute;
        top: 80px;  
        right: 20px;
        width: 200px;   
        background-color: var(--background);
        box-shadow: 0px 0px 4px 0px #FFFFFF;
        border-radius: 12px;
        padding: 20px 0px;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    
        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    
        &__Item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            padding: 15px 20px;
            color: var(--text);
            cursor: pointer;
            transition: background 0.2s ease;
            

            &:hover {
                color: var(--color-blue-level-2);
            }

            &__Icon{
                width: 24px;
                height: 24px;
            }

            &__Title{
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
    
}