.FormRegister{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &__PasswordDoenstMatch{
        width: 100%;
        font-size: 12px;
        text-align: left;
        cursor: pointer;
    }  
}