.TableContainer{
    max-width: 100%;
    height: 260px;
    overflow-x: auto; 
    white-space: nowrap;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 4px 4px 0px var(--shadow);

    table{
        background-color: var(--background-table);
        font-size: 12px;
        border-collapse: separate; 
        border-spacing: 0;
        width: 100%; 
        
    }

    thead{
        background-color: var(--color-blue-level-2);
        padding: 0;
        margin: 0;
        border-radius: 10px 10px 0 0; 
        overflow: hidden; 
        position: sticky; 
        top: 0;
        z-index: 10; 
        color: #FFFFFF;
        
        tr {
            display: table-row;
        }
        
        th { 
            margin: 0; 
            padding: 10px 5px;
            border-spacing: 0;
            background-color: inherit;
        }
    }

    tbody {
        tr {
            padding: 8px 0;
        }

        td {
            padding: 8px 15px;
        }
    }
}